/*body css*/
body {
    padding: 0px;
    color: #484848;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.container {
    width: 100%;
    flex: 1 0 auto;
    max-width: 1000px;
    margin: 30px auto;
}
