@import url(../styles/7-places.css);
/* place articles*/

article div.place_by_night {
    position: absolute;
    top: 20px;
    right: 30px;
    max-width: 60px;
    height: 60px;
    font-size: 20px;
    color: #FF5A5F;
    border: 3px solid #FF5A5F;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    padding: 10px;
}

article div.information {
    height: 80px;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    padding: 0 2rem;
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.max_guests , div.number_rooms, div.number_bathrooms {
    margin-top: 0;
    margin-bottom: 0;
}

div.max_guests img ,
div.number_rooms img,
div.number_bathrooms img {
    margin-bottom: 0;
}

div.max_guests p ,
div.number_rooms p,
div.number_bathrooms p {
    margin-top: 0;
}

article div.max_guest {
    width: 100px;
}

div.max_guests, div.number_rooms, div.number_bathrooms {
    display: flex;
    flex-direction: column;
}

article div.user {
    display: block;
    padding-bottom: unset;
}

article div.user h4 {
    margin-bottom: 0;
}

article div.user span {
    font-weight: 400;
}
